<h1 class="jumbotron">$venue.getName()</h1>

#if($venue.getBands())
  <p>Here are the bands for this venue:</p>
  <ul>
    #foreach($band in $venue.getBands())
      <li>$band.getName()</li>
    #end
  </ul>
#end


<p><a href="/">Home</a></p>
